chardet==3.0.4
cycler==0.10.0
docutils==0.14
idna==2.6
jmespath==0.9.3
matplotlib==2.1.2
numpy==1.14.0
pydot==1.2.4
pydotplus==2.0.2
pyparsing==2.2.0
pytz==2018.3
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
